<!DOCTYPE html>
<html>
  <head>
   
    <%= csrf_meta_tags %>

  </head>

  <body>
     <div class="menu ">
        <ul>
            <li><%= link_to 'Home', controller: 'welcome' %></li>
            <li><%= link_to 'Federal Tax', controller: 'federalforms' %></li>
            <li><%= link_to 'State Tax', controller: 'stateforms' %></li>
            <li><%= link_to 'Resources', controller: 'resources' %></li>
           
      
             
               <li><%= link_to "Log Out", logout_path %></li>
               
                 <li><%= link_to "Log In", login_path %></li>
                 <li><%= link_to "Sign Up", signup_path %></li>
                 
              
                   <p class="notice pull-right"><%= notice %></p>
    <p class="alert"><%= alert %></p>
            </div>
        </ul>
    </div>
  
    <%= yield %>
  </body>
  
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</html>
