<%= form_with(model: federalform, local: true) do |form| %>
  <% if federalform.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(federalform.errors.count, "error") %> prohibited this form from being saved:</h2>

      <ul>
      <% federalform.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
<center>
  <div class="field">
    <%= form.label :date %>
    <%= form.datetime_select :date, id: :federalform_date %>
  </div>
  <div class="control-group">
    <%= form.label "Filling Status", class: 'control-label' %>
    <div class="controls">
      <%= form.select(:time_type, options_for_select([['Single', true],['Joint', false]])) %>
    </div>
  </div>

  <div class="control-group">
    <%= form.label "Calculation Type", class: 'control-label' %>
    <div class="controls">
      <%= form.select(:time_type, options_for_select([['Monthly', true],['Yearly', false]])) %>
    </div>
  </div>

  <div class="field">
    <%= form.label :income %>
    <%= form.text_field :income, id: :federalform_income %>
  </div>
  <div class="field">
    <%= form.label "Calculated Tax for the Year by Month:", class: 'control-label' %>
      <%= @federalform = federalform.income.to_i * 0.133 * 12 %>
  </div>
  <div class="field">
    <%= form.label "Calculated Tax by Year:", class: 'control-label' %>
      <%= @federalform = federalform.income.to_i * 0.133%>
  </div>
  <div class="actions">
    <%= form.submit 'Calculate', class: 'btn btn-default' %>
    
  </div>
  </center>
  
<% end %>
