<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Federal Tax Calculator</title>
    <link rel="stylesheet" href="index.css">
</head>

<body>
    <div class="menu">
        <ul>
            <li><%= link_to 'Home', controller: 'welcome' %></li>
            <li><%= link_to 'Federal Tax', controller: 'federalforms' %></li>
            <li><%= link_to 'State Tax', controller: 'federalforms' %></li>
            <li><%= link_to 'Resources', controller: 'federalforms' %></li>
        </ul>
    </div>

    <div id="hero">
        <h1>Showing your editable Calculation</h1><br><br><br>
        <a href="https://www.paypal.me/tdolphus" class="button4" style="background-color:green">Donate</a>
    </div>
    <div class="form">
        <%= render 'form', federalform: @federalform %>
    </div>
    <section class="footer ">
        <div>
            <h3>MADE BY</h3>
            <ul>
                <li>Titus Dolphus</li>
                <li>Evan West</li>
                <li>Andy Something</li>
                <li>Zach Something</li>
            </ul>
            <a href="https://www.paypal.me/tdolphus">Donate</a>
        </div>
    </section>

</body>

</html>

</body>

</html>

<%= link_to 'Back', federalforms_path %>
