<p id="notice"><%= notice %></p>


<p>
  <strong>Date:</strong>
  <%= @federalform.date %>
</p>

<p>
  <strong>Calculation Type:</strong>
  <%= @federalform.time_type %>
</p>

<p>
  <strong>Income:</strong>
  <%= @federalform.income %>
</p>

<p>
  <strong>Estimated Federal Tax:</strong>
  <%= @federalform.tax %>
</p>



<%= link_to 'Edit', edit_federalform_path(@federalform) %> |
<%= link_to 'Back', federalforms_path %>

