

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>State Tax Calculator</title>
    <link rel="stylesheet" href="index.css">
</head>

<body>
    
    <div id="hero">
        <h1>State Tax Estimate Calculator</h1><br><br><br>
        <a href="https://www.paypal.me/tdolphus" class="button4" style="background-color:green">Donate</a>
    </div>
<p id="notice"><%= notice %></p>

<center>
	<h1>Estimate Tax Payable</h1>

 <p>     
   
		
</p>

<p>
  <strong>Date:</strong>
  <%= @stateform.date %>
</p>



<p>
  <strong>Income: $</strong>
  <%= @stateform.income %>
</p>

<p>
  <strong>Estimated State Tax: $</strong>
  
   <%= @stateform.tax = calculate(@stateform.income,@stateform.status,@stateform.state)%>

</p>

<p>
  <strong>Marital Status:</strong>
  <%= @stateform.status %>
</p>
<p>
  <strong>State:</strong>
  <%= @stateform.state %>
</p>


</center>




<%= link_to 'Edit', edit_stateform_path(@stateform) %> |
<%= link_to 'Back', stateforms_path %>
<%= link_to 'home', root_path %>




