<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tax-Mate</title>
    <link rel="stylesheet" href="index.css">
</head>

<body>
    <div class="menu">
        <ul>
            <li><%= link_to 'Home', controller: 'welcome' %></li>
            <li><%= link_to 'Federal Tax', controller: 'federalforms' %></li>
            <li><%= link_to 'State Tax', controller: 'federalforms' %></li>
            <li><%= link_to 'Resources', controller: 'federalforms' %></li>
        </ul>
    </div>
    
    <div class="Hero">
        <h1>Tax Mate</h1>
        <br><br><br>
        <a href="https://www.paypal.me/tdolphus" class="button4" style="background-color:green">Donate</a>
    </div>
    <a>
        <div class="row"></div>
        <div class="card">
            <img class="icon" src="/assets/icon1.png" alt="adfa"><br>
            <div class="link"><%= link_to 'Federal Tax Calculator', controller: 'federalforms' %></div>
            <p>Lorem ipsum dolor sit amet, consectetur Lorem ipsum dolor sit amet consec</p>
        </div>
    </a>
    <a>
        <div class="card">
            <img class="icon" src="/assets/icon2.png" " alt="adfa "><br>
         <div class="link"><%= link_to 'State Tax Calculator', controller: 'federalforms' %></div>
        <p>Lorem ipsum dolor sit amet, consectetur Lorem ipsum dolor sit amet consec</p>
    </div>
</a>
<a href="# ">
    <div class="card ">
        <img class="icon " src="/assets/icon3.png "  alt="adfa "><br>
        <div class="link"><%= link_to 'Resources', controller: 'federalforms' %></div>
        <p>Lorem ipsum dolor sit amet, consectetur Lorem ipsum dolor sit amet consec</p>
    </div>
</div>
</a>
    <section class="footer ">
<div>
        <h3>MADE BY</h3>
        <ul>
            <li>Titus Dolphus</li>
            <li>Evan West</li>
            <li>Andy Darkwah</li>
            <li>Zach Ader</li>
        </ul>
        <a href="https://www.paypal.me/tdolphus ">Donate</a>
    </div>
    </section>

</body>

</html>